:root {
  --primary-color: #6288a5;
  --white-color: #fff;
  --black-color: #000;
  --background-color: brown;
}

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.flex-h,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

nav {
  background-color: var(--white-color);
  padding: 0.25rem 0.94rem 0.125rem;
  height: 2.625rem;
}

nav .left a {
  font-size: 0.9rem;
  color: var(--black-color);
  font-weight: 700;
}

nav .left i {
  padding: 0.5rem 0.5625rem 0.5625rem 0.5625rem;
  margin: 0 0.5rem 0 0;
}

.logo {
  width: 195px;
  height: 26px;
}

.btn {
  padding: 0.5rem 0.75rem 0.75rem 0.5rem;
  margin-right: 0.4375rem;
  border-radius: 3px;
  background: var(--primary-color);
  border: 1px solid #326891;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.video {
  width: 560px;
  height: 315px;
}
