:root {
  --primary-color: #6288a5;
  --secondary-color: #326891;
  --white-color: #fff;
  --black-color: #000;
  --dark-gray: #666;
  --light-gray: #888;
  --darkest-gray: #333;
}

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.flex-h,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

p {
  font-size: 1.25rem;
  color: var(--darkest-gray);
  line-height: 1.85rem;
  margin-bottom: 0.94rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.m-t-3 {
  margin-top: 3rem;
}

nav {
  background-color: var(--white-color);
  padding: 0.25rem 0.94rem 0.125rem;
  height: 2.625rem;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

nav .left a {
  font-size: 0.9rem;
  color: var(--black-color);
  font-weight: 700;
}

nav .left i {
  padding: 0.5rem 0.5625rem 0.5625rem 0.5625rem;
  margin: 0 0.5rem 0 0;
}

.logo {
  width: 195px;
  height: 26px;
}

.btn {
  padding: 0.5rem 0.75rem 0.75rem 0.5rem;
  margin-right: 0.4375rem;
  border-radius: 3px;
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.article-title {
  height: 96px;
  width: 100%;
  margin-bottom: 0.625rem;
  margin-top: 3.875rem;
}

.article-title h1 {
  margin: 0px 23.4375rem 1rem 23.4375rem;
  font-size: 2.5rem;
  line-height: 3rem;
  font-style: italic;
  font-weight: 700;
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.article-image {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.article-image img {
  width: 100%;
  height: 675.55px;
  align-self: flex-start;
}

.article-image figcaption {
  margin-top: 0.4rem;
  font-size: 0.9375rem;
  color: var(--dark-gray);
  padding-right: 25%;
}

.article-header {
  margin-bottom: 1.6rem;
}

.article-author {
  color: var(--darkest-gray);
  font-weight: 600;
}

.article-author a {
  color: var(--darkest-gray);
}

.article-social {
  height: 42px;
  align-items: baseline;
}

.article-social .date {
  cursor: pointer;
  color: var(--darkest-gray);
  font-size: 0.8125rem;
}

.social-links i {
  margin-right: 10px;
  background-color: #ddd;
  border-radius: 50%;
  padding: 0.3rem 0.4rem;
  font-size: 80%;
}

.social-links .fa-bookmark {
  font-size: 200%;
  background-color: transparent;
  color: var(--dark-gray);
}

.social-links .fa-comment-o {
  font-size: 200%;
  background-color: transparent;
  position: relative;
}

.fa-comment-o span {
  position: absolute;
  font-size: 0.7rem;
  left: 14px;
  top: 16px;
  color: #999;
}

.second-part {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-areas: '. full-container editors-pick';
}

.full-container {
  grid-area: full-container;
  width: 100%;
}

.editors-pick {
  align-content: center;
  grid-area: editors-pick;
  overflow: hidden;
  display: grid;
  width: 410px;
  margin-left: 100px;
  grid-auto-flow: row;
  grid-template-columns: 75px 125px;
  grid-template-rows: 30px 85px 85px 85px;
  grid-gap: 10px 4px;
}

.editors-pick p {
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.title-editors-pick {
  grid-column: 1 / -1;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: var(--black-color);
  font-size: 0.875rem;
  line-height: 0.875rem;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 1.5rem;
}

aside img {
  height: 100%;
  width: 100%;
}

.subscribe-remider {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 40px);
  grid-template-areas:
    '. . .'
    '. subscribe-remider-text .'
    '. subscribe-remider-link .'
    '. . .';
  font-weight: 700;
}

.subscribe-remider-text {
  grid-area: subscribe-remider-text;
  color: var(--darkest-gray);
}

.subscribe-remider-text:before {
  height: 1px;
  display: block;
  width: 100px;
  background: #ddd;
  border-right: 1px white;
  content: '';
  margin: 0 auto;
  margin-bottom: 1rem;
}

.subscribe-remider-link {
  grid-area: subscribe-remider-link;
  color: #326689;
}

.subscribe-remider-link:after {
  height: 1px;
  display: block;
  width: 100px;
  background: #ddd;
  border-right: 1px white;
  content: '';
  margin: 0 auto;
  margin-top: 1rem;
}

.subscribe-remider-link:hover {
  cursor: pointer;
}

.schema {
  width: 945px;
  margin: 0 auto 3rem;
}

.schema-body {
  display: grid;
  grid-gap: 0 14px;
  height: 576px;
  width: 945px;
  background: url('https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png')
    no-repeat center center/cover;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.1fr 1fr 1.1fr;
  grid-template-areas:
    '. . . .'
    'div1 div2 div3 div4 '
    '. . . .'
    'div5 div6 div7 div8 ';
}

.schema h2 {
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black-color);
}

.schema > p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
  color: var(--dark-gray);
}

.schema-body p {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 300;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.schema-body span {
  font-weight: 700;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.schema-element-1 {
  grid-area: div1;
}

.schema-element-2 {
  grid-area: div2;
}

.schema-element-3 {
  grid-area: div3;
}

.schema-element-4 {
  grid-area: div4;
}

.schema-element-5 {
  grid-area: div5;
}

.schema-element-6 {
  grid-area: div6;
}

.schema-element-7 {
  grid-area: div7;
}

.schema-element-8 {
  grid-area: div8;
}

.schema-footer:before {
  width: 60px;
  content: ' ';
  display: block;
  height: 1px;
  margin: 13px 13px 13px 0;
  background-color: var(--black-color);
}

.schema-footer {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.fourth-part a {
  color: var(--secondary-color);
  text-decoration: underline;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 1.25rem;
}

.fourth-part a:hover {
  text-decoration: none;
}

.video {
  width: 600px;
  height: 319px;
}

.video {
  margin-bottom: 5rem;
}
.video iframe {
  width: 100%;
  height: 100%;
}

.video span {
  display: block;
  margin-top: 0.8rem;
  font-size: 0.8rem;
  color: var(--light-gray);
  font-weight: 400;
}

.fourth-part-image {
  width:720px;
  height: 480px;
  margin:0 auto;
  border:1px solid black;
}

.fourth-part-image img{
  width:100%;
  height: 100%;
  
}
