:root {
  --primary-color: #022036;
  background-color: brown;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

nav {
  background-color: darkblue;
}

.middle {
  height: 20px;
}

.logo {
  width: 100px;
  display: inline-block;
}

.video {
  width: 560px;
  height: 315px;
}

