:root {
  --primary-color: #6288a5;
  --white-color: #fff;
  --black-color: #000;
  --dark-gray: #666;
  --light-gray: #888;
  --darkest-gray: #333;
}

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.flex-h,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

p {
  font-size: 1.25rem;
  color: var(--darkest-gray);
  line-height: 1.85rem;
  margin-bottom: 0.94rem;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

nav {
  background-color: var(--white-color);
  padding: 0.25rem 0.94rem 0.125rem;
  height: 2.625rem;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

nav .left a {
  font-size: 0.9rem;
  color: var(--black-color);
  font-weight: 700;
}

nav .left i {
  padding: 0.5rem 0.5625rem 0.5625rem 0.5625rem;
  margin: 0 0.5rem 0 0;
}

.logo {
  width: 195px;
  height: 26px;
}

.btn {
  padding: 0.5rem 0.75rem 0.75rem 0.5rem;
  margin-right: 0.4375rem;
  border-radius: 3px;
  background: var(--primary-color);
  border: 1px solid #326891;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.m-b-3 {
  margin-bottom: 3rem;
}
.article-title {
  height: 96px;
  width: 100%;
  margin-bottom: 0.625rem;
  margin-top: 3.875rem;
}

.article-title h1 {
  margin: 0px 23.4375rem 1rem 23.4375rem;
  font-size: 2.5rem;
  line-height: 3rem;
  font-style: italic;
  font-weight: 700;
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.article-image {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.article-image img {
  width: 100%;
  height: 675.55px;
  align-self: flex-start;
}

.article-image figcaption {
  margin-top: 0.4rem;
  font-size: 0.9375rem;
  color: var(--dark-gray);
  padding-right: 25%;
}

.article-header {
  margin-bottom: 1.6rem;
}

.article-author {
  color: var(--darkest-gray);
  font-weight: 600;
}

.article-author a {
  color: var(--darkest-gray);
}

.article-social {
  height: 42px;
  align-items: baseline;
}

.article-social .date {
  cursor: pointer;
  color: var(--darkest-gray);
  font-size: 0.8125rem;
}

.social-links i {
  margin-right: 10px;
  background-color: #ddd;
  border-radius: 50%;
  padding: 0.3rem 0.4rem;
  font-size: 80%;
}

.social-links .fa-bookmark {
  font-size: 200%;
  background-color: transparent;
  color: var(--dark-gray);
}

.social-links .fa-comment-o {
  font-size: 200%;
  background-color: transparent;
  position: relative;
}

.fa-comment-o span {
  position: absolute;
  font-size: 0.7rem;
  left: 14px;
  top: 16px;
  color: #999;
}

.second-part {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-areas: '. full-container editors-pick';
}

.full-container {
  grid-area: full-container;
  width: 100%;
}

.editors-pick {
  align-content: center;
  grid-area: editors-pick;
  overflow: hidden;
  display: grid;
  width: 410px;
  margin-left: 100px;
  grid-auto-flow: row;
  grid-template-columns: 75px 125px;
  grid-template-rows: 30px 85px 85px 85px;
  grid-gap: 10px 4px;
}

.editors-pick p {
  font-size: 0.875rem;
  line-height: 1.0625rem;
}

.title-editors-pick {
  grid-column: 1 / -1;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: var(--black-color);
  font-size: 0.875rem;
  line-height: 0.875rem;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 1.5rem;
}

aside img {
  height: 100%;
  width: 100%;
}

.video {
  width: 560px;
  height: 315px;
}
