:root {
  --primary-color: #6288a5;
  --white-color: #fff;
  --black-color: #000;
  --dark-gray: #666;
  --light-gray: #888;
}

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
}

.flex-h,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

nav {
  background-color: var(--white-color);
  padding: 0.25rem 0.94rem 0.125rem;
  height: 2.625rem;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

nav .left a {
  font-size: 0.9rem;
  color: var(--black-color);
  font-weight: 700;
}

nav .left i {
  padding: 0.5rem 0.5625rem 0.5625rem 0.5625rem;
  margin: 0 0.5rem 0 0;
}

.logo {
  width: 195px;
  height: 26px;
}

.btn {
  padding: 0.5rem 0.75rem 0.75rem 0.5rem;
  margin-right: 0.4375rem;
  border-radius: 3px;
  background: var(--primary-color);
  border: 1px solid #326891;
  color: var(--white-color);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.m-b-3{
  margin-bottom: 3rem;
}
.article-title {
  height: 96px;
  width: 100%;
  margin-bottom: 0.625rem;
  margin-top: 3.875rem;
}

.article-title h1 {
  margin: 0px 23.4375rem 1rem 23.4375rem;
  font-size: 2.5rem;
  line-height: 3rem;
  font-style: italic;
  font-weight: 700;
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.article-image {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.article-image img {
  width: 100%;
  height: 675.55px;
  align-self: flex-start;
}

.article-image figcaption {
  margin-top: 0.4rem;
  font-size: 0.9375rem;
  color: var(--dark-gray);
  padding-right: 25%;
}

.video {
  width: 560px;
  height: 315px;
}
