:root {
  --primary-color: #6288a5;
  --secondary-color: #326891;
  --white-color: #fff;
  --black-color: #000;
  --dark-gray: #666;
  --light-gray: #888;
  --darkest-gray: #333;
}

body {
  background-color: #fff;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  color: var(--black-color);
}

.flex-h,
.flex-v {
  display: flex;
}

.flex-v {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

p {
  font-size: 1.25rem;
  color: var(--darkest-gray);
  line-height: 1.85rem;
  margin-bottom: 0.94rem;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.m-b-3 {
  margin-bottom: 3rem;
}

.m-t-3 {
  margin-top: 3rem;
}

.caption {
  display: block;
  margin-top: 0.8rem;
  font-size: 0.8rem;
  color: var(--light-gray);
  font-weight: 400;
}

.subtitle {
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-weight: 700;
  color: var(--darkest-gray);
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

.image-source {
  font-size: 0.8125rem;
  color: var(--light-gray);
  letter-spacing: 0.01em;
}

nav {
  background-color: var(--white-color);
  padding: 0.25rem 0.94rem 0.125rem;
  height: 48px;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  border-bottom: solid rgb(226, 226, 226) 1px;
}

nav .left a {
  font-size: 0.9rem;
  color: var(--black-color);
  font-weight: 700;
}

nav .left i {
  padding: 0.5rem 0.5625rem 0.5625rem 0.5625rem;
  margin: 0 0.5rem 0 0;
}
nav .left i:hover,
.middle .logo {
  cursor: pointer;
}
nav .left a:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav .right {
  margin-right: 1.2rem;
}

.logo {
  width: 195px;
  height: 26px;
}

.btn {
  padding: 0.5rem 0.75rem 0.75rem 0.5rem;
  margin-right: 0.4375rem;
  border-radius: 3px;
  background: var(--primary-color);
  border: 1px solid var(--secondary-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.article-title {
  height: 96px;
  width: 100%;
  margin-bottom: 0.625rem;
  margin-top: 3.875rem;
}

.article-title h1 {
  margin: 0px 23.4375rem 1rem 23.4375rem;
  font-size: 2.5rem;
  line-height: 3rem;
  font-style: italic;
  font-weight: 700;
  color: #121212;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
}

.article-image {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.article-image img {
  width: 100%;
  height: 675.55px;
  align-self: flex-start;
}

.article-image figcaption {
  margin-top: 0.4rem;
  font-size: 0.9375rem;
  color: var(--dark-gray);
  padding-right: 25%;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

.article-image figcaption span {
  font-size: 0.8125rem;
  color: var(--light-gray);
  letter-spacing: 0.01em;
}

.article-header {
  margin-bottom: 1.6rem;
}

.article-author {
  color: var(--darkest-gray);
  font-weight: 600;
}

.article-author a {
  color: var(--darkest-gray);
  text-decoration: underline;
  text-decoration-color: #ccc;
  text-decoration-thickness: 1px;
}

.article-author a:hover {
  text-decoration: none;
}

.article-social {
  height: 42px;
  align-items: baseline;
}

.article-social .date {
  cursor: pointer;
  color: var(--darkest-gray);
  font-size: 0.8125rem;
}

.social-links i {
  margin-right: 10px;
  background-color: #ddd;
  border-radius: 50%;
  padding: 0.3rem 0.4rem;
  font-size: 80%;
}

.social-links svg {
  position: relative;
  top: 10px;
}

.social-links .fa-comment-o {
  font-size: 185%;
  background-color: transparent;
  position: relative;
  top: 7px;
  color: var(--light-gray);
  margin-right: 10px;
  -webkit-text-stroke: 2px white;
}

.fa-comment-o span {
  position: absolute;
  font-size: 0.6rem;
  left: 14px;
  top: 14px;
  -webkit-text-stroke: 0.5px var(--black-color);
}

.second-part {
  display: grid;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-areas: '. full-container editors-pick';
}

.full-container {
  grid-area: full-container;
  width: 100%;
}

.editors-pick {
  justify-content: center;
  grid-area: editors-pick;
  overflow: hidden;
  display: grid;
  width: auto;
  margin-left: 50px;
  grid-auto-flow: row;
  grid-template-columns: 75px 125px;
  grid-template-rows: 30px 85px 85px 85px;
  grid-gap: 7px 6px;
}

.editors-pick p {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  margin: auto 0;
}
.editors-pick a {
  color: rgb(51, 51, 51);
  font-family: nyt-cheltenham-small, georgia, 'times new roman';
}

p.title-editors-pick {
  grid-column: 1 / -1;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  color: var(--black-color);
  font-size: 0.875rem;
  line-height: 0.875rem;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-bottom: 0.5rem;
}

aside img {
  height: 75px;
  width: 75px;
}

aside img:hover {
  cursor: pointer;
}

.editors-pick a:hover {
  text-decoration: underline;
}

a.article-link {
  color: var(--secondary-color);
  text-decoration: underline;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  font-size: 1.25rem;
}

a.article-link:hover {
  text-decoration: none;
}

.subscribe-remider {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(4, 40px);
  grid-template-areas:
    '. . .'
    '. subscribe-remider-text .'
    '. subscribe-remider-link .'
    '. . .';
  font-weight: 700;
}

.subscribe-remider-text {
  grid-area: subscribe-remider-text;
  color: var(--darkest-gray);
}

.subscribe-remider-text:before {
  height: 1px;
  display: block;
  width: 100px;
  background: #ddd;
  border-right: 1px white;
  content: '';
  margin: 0 auto;
  margin-bottom: 1rem;
}

.subscribe-remider-link {
  grid-area: subscribe-remider-link;
  color: #326689;
}

.subscribe-remider-link:after {
  height: 1px;
  display: block;
  width: 100px;
  background: #ddd;
  border-right: 1px white;
  content: '';
  margin: 0 auto;
  margin-top: 1rem;
}

.subscribe-remider-link:hover {
  cursor: pointer;
}

.schema {
  width: 945px;
  margin: 0 auto 3rem;
}

.schema-body {
  display: grid;
  grid-gap: 0 14px;
  height: 576px;
  width: 945px;
  background: url('https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png')
    no-repeat center center/cover;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.1fr 1fr 1.1fr;
  grid-template-areas:
    '. . . .'
    'div1 div2 div3 div4 '
    '. . . .'
    'div5 div6 div7 div8 ';
}

.schema h2 {
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black-color);
}

.schema > p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
  color: var(--dark-gray);
}

.schema-body p {
  font-size: 0.875rem;
  line-height: 1.0625rem;
  font-weight: 300;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.schema-body span {
  font-weight: 700;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.schema-element-1 {
  grid-area: div1;
}

.schema-element-2 {
  grid-area: div2;
}

.schema-element-3 {
  grid-area: div3;
}

.schema-element-4 {
  grid-area: div4;
}

.schema-element-5 {
  grid-area: div5;
}

.schema-element-6 {
  grid-area: div6;
}

.schema-element-7 {
  grid-area: div7;
}

.schema-element-8 {
  grid-area: div8;
}

.schema-footer:before {
  width: 60px;
  content: ' ';
  display: block;
  height: 1px;
  margin: 13px 13px 13px 0;
  background-color: var(--black-color);
}

.schema-footer {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
}

.video {
  width: 600px;
  height: 319px;
}

.video {
  margin-bottom: 5rem;
}
.video iframe {
  width: 100%;
  height: 100%;
}

.fourth-part-image {
  margin: 2.6875rem auto;
}

.fourth-part-image img {
  width: 100%;
  height: 100%;
}

.fourth-part-image .caption {
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-right: 2.2rem;
}

.video p {
  font-size: 0.9375rem;
  margin-top: 0.2rem;
  margin-right: 0.4375rem;
  line-height: 1.25rem;
  color: var(--dark-gray);
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
}

.article-footer {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  width: 100%;
  max-width: 600px;
  color: rgb(102, 102, 102);
  margin: 0px auto 1em;
}

.article-footer a {
  color: rgb(102, 102, 102);
  text-decoration: underline;
}

.article-footer a:hover {
  text-decoration: none;
}

.article-footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-footer-links button {
  width: 330px;
}

.article-footer-links button:hover {
  background-color: rgb(50, 104, 145);
}

.suggestions {
  width: 1291px;
  height: 1066;
  margin: 45px 114px 0;
  display: grid;
  grid-template-columns: repeat(3, 272px) 318px;
  grid-template-rows: minmax(40px, auto) repeat(2, 1fr) minmax(40px, auto) 1fr;
  grid-auto-flow: row;
  grid-gap: 1rem;
}


.more-readings-title-1 {
  grid-column: 1/-2;
  color: var(--black-color);
  border-top: 1px solid var(--dark-gray);
  padding: 0.9375rem 0rem;
}

.more-readings-title-1 a {
  color: var(--black-color);
  font-weight: 600;
}

.more-readings-title-1 a:hover {
  text-decoration: underline;
}

.more-readings-title-2 {
  grid-column: 1/-2;
  grid-row: 4/5;
}

.suggestions figcaption {
  font-size: 0.625rem;
  color: rgb(153, 153, 153);
  line-height: 1.23em;
  text-align: right;
  margin-top: 5px 0 0;
  padding-bottom: 4px;
}

.most-popular {
  grid-column: 4/5;
  grid-row: 1/-1;
  border-top: 1px solid var(--dark-gray);
}
.most-popular h2 {
  grid-column: 4/5;
  grid-row: 1/2;
}

.most-popular > * {
  display: block;
  font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  font-weight: 500;
  border-bottom: 1px solid #ddd;
  padding: 0.9375rem 0rem;
  color: var(--black-color);
}
.most-popular a:hover {
  color: rgb(102, 102, 102);
}
.most-popular h2 {
  color: var(--darkest-gray);
  font-weight: 600;
}

.suggestions img {
  width: 272px;
  height: 100%;
  display: block;
  margin-bottom: 5px;
}

h2.more-readings-title {
  color: var(--darkest-gray);
  font-weight: 600;
}
.footer-nav {
  width: 1291px;
  margin: 0 auto;
}

.footer-top {
  height: 40px;
}

.footer-nav-left {
  height: 300px;
  width: 300px;
}

.footer-links.left-border {
  padding-left: 10px;
  border-left: solid rgb(226, 226, 226) 1px;
}

.footer-links p {
  font-size: 0.875rem;
  font-weight: 700;
}

.footer-links svg {
  height: 13px;
  width: 13px;
}

.footer-links a {
  display: block;
  color: var(--black-color);
  font-size: 0.875rem;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
  text-transform: capitalize;
}

a.footer-links-bold {
  font-size: 1rem;
  font-weight: 700;
  line-height: 15px;
  height: 25px;
  color: var(--black-color);
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copyright {
  width: 1200px;
  height: 66px;
  padding: 0.5625rem 0;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.6875rem;
  margin: 0 auto;
  justify-content: center;
  border-top: solid rgb(226, 226, 226) 1px;
}

.footer-copyright a {
  color: var(--dark-gray);
  padding: 0 0.5625rem;
}
.footer-copyright a:hover {
  text-decoration: underline;
}
